<h1>Contactari</h1>

<% @contacts.each do |contact| %>
  <div class="row" style="border:1px solid #d9d9d9; margin-bottom: 15px;">
    <div style="padding: 0px 15px 20px">
      <h3><%= contact.name %></h3>
      <span class="label label-info"><b>Data:</b> <%= contact.date_long %></span>
      <span class="label label-success"><b>E-mail</b> <a href='mailto:<%= contact.email %>' style='color:white'><%= contact.email %></a></span>
      <span class="label label-warning"><b>Telefon:</b> <%= contact.phone_placer %></span>
      
      <br /><br />
      
      <p><%= contact.message %></p>
      
      <span class="label label-danger"><%= link_to 'Sterge', contact, method: :delete, style: 'color:white', confirm: 'Esti sigur?' %></span>
    </div>
  </div>
<% end %>
